<h4>spinner-large</h4>
<div class="loader">
  <button class="switch-load" (click)="switchSpinnerLarge()">Switch</button>
  <app-busy-loader
    [invisible]="spinnerLarge"
    [styleType]="'spinner-large'"
    [overlay]="false">
  </app-busy-loader>
</div>

<h4>spinner-small</h4>
<div class="loader">
  <button class="switch-load" (click)="switchSpinnerSmall()">Switch</button>
  <app-busy-loader
    [invisible]="spinnerSmall"
    [styleType]="'spinner-small'"
    [overlay]="false">

  </app-busy-loader>
</div>

<h4>loading-dots</h4>
<div class="loader">
  <button class="switch-load" (click)="switchLoadingDots()">Switch</button>
  <app-busy-loader
    [invisible]="loadingDots"
    [styleType]="'loading-dots'"
    [overlay]="false">
  </app-busy-loader>
</div>

<h4>overlay-page</h4>
<div class="loader">
  <button class="switch-load" (click)="switchOverlay()">On (for 10 sec)</button>
  <app-busy-loader
    [invisible]="overlayOn"
    [styleType]="'loading-dots'"
    [overlay]="true">
  </app-busy-loader>
</div>
